<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="MyGet" value="https://www.myget.org/F/opensilver/api/v3/index.json" />
        <add key="MyGetRC" value="https://www.myget.org/F/opensilver-private-rc/auth/663f849e-5118-4ace-9b11-6467587363da/api/v3/index.json" />
    </packageSources>
</configuration>